//* ###### Переменные стилей ##############
//? ====== Подключение шрифтов ============
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Russo+One&display=swap');

$fontFamily: 'Montserrat', sans-serif;
$fontHeading: 'Russo One', sans-serif;

//? ====== Контейнер ======================
$maxWidth: 1920; // Не меняем.
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 10;
$md2: 767.98;

//? ====== Цвета ==========================
$black: #000000;
$white: #ffffff;

//? ====== Наборы стилей ==================

//? ====== Типографика ====================
