<section class="algorithm">
    <div class="container">
        <div class="algorithm__card">
            <div class="algorithm__content">
                <ul class="algorithm__list">
                    <li>Анализируем ваши карточки товаров</li>
                    <li>Анализируем конкурентов</li>
                    <li>Разрабатываем стратегию SEO-продвижения</li>
                    <li>Собираем семантическое ядро</li>
                    <li>Вносим ключи текстового контента в карточке товара</li>
                    <li>Отслеживаем и оптимизируем позиции по ключам</li>
                    <li>Предоставляем отчётность по каждой карточке товара</li>
                </ul>
            </div>
            <!-- /.algorithm__content -->
            <div class="algorithm__images">
                <h2 class="algorithm__title">АЛГОРИТМ <br> НАШЕЙ <br> РАБОТЫ</h2>
                <img src="assets/img/infographics/tablet.png" alt="">
            </div>
            <!-- /.algorithm__images -->
        </div>
        <!-- /.algorithm__card -->
    </div>
    <!-- /.container -->
</section>
<!-- /.algorithm -->
