<section class="faq">
    <div class="container">
        <div class="faq__head">
            <h2 class="faq__title faq__title--mobile">Частые вопросы</h2>
            <button class="faq__btn">
                <img src="assets/img/icons/chat.svg" alt="">
            </button>
        </div>
        <div class="faq__card">
            <div class="faq__content" data-block="accordion" id="faq-accordion">
                <div class="faq__item accordion__item">
                    <div class="faq__header accordion__title">
                        <button class="faq__icon"></button>
                        <h3 class="faq__name">
                            Работает ли SEO на маркетплейсах?
                        </h3>

                    </div>
                    <div class="faq__descr accordion__content">
                        <p>
                            Да, мы делаем бесплатный SEO-аудит: анализируем вашу карточку товара на наличие
                            и заполнение параметров, необходимых для
                            повышения в поиске, анализируем ваших конкурентов. Итог нашей работы –
                            практические рекомендации, которые помогут
                            поднять ваши товары в топ.
                        </p>
                    </div>
                </div>
                <!-- /.faq__item -->
                <div class="faq__item accordion__item">
                    <div class="faq__header accordion__title">
                        <button class="faq__icon"></button>
                        <h3 class="faq__name">
                            Вы помогаете выбирать SKU для SEO-продвижения?
                        </h3>

                    </div>
                    <div class="faq__descr accordion__content">
                        <p>
                            Да, мы делаем бесплатный SEO-аудит: анализируем вашу карточку товара на наличие
                            и заполнение параметров, необходимых для
                            повышения в поиске, анализируем ваших конкурентов. Итог нашей работы –
                            практические рекомендации, которые помогут
                            поднять ваши товары в топ.
                        </p>
                    </div>
                </div>
                <!-- /.faq__item -->
                <div class="faq__item accordion__item">
                    <div class="faq__header accordion__title">
                        <button class="faq__icon"></button>
                        <h3 class="faq__name">
                            Пишете ли вы описание карточки товара в рамках SEO-продвижения?
                        </h3>

                    </div>
                    <div class="faq__descr accordion__content">
                        <p>
                            Да, мы делаем бесплатный SEO-аудит: анализируем вашу карточку товара на наличие
                            и заполнение параметров, необходимых для
                            повышения в поиске, анализируем ваших конкурентов. Итог нашей работы –
                            практические рекомендации, которые помогут
                            поднять ваши товары в топ.
                        </p>
                    </div>
                </div>
                <!-- /.faq__item -->
                <div class="faq__item accordion__item">
                    <div class="faq__header accordion__title">
                        <button class="faq__icon"></button>
                        <h3 class="faq__name">
                            Делаете ли вы SEO-аудит?
                        </h3>

                    </div>
                    <div class="faq__descr accordion__content">
                        <p>
                            Да, мы делаем бесплатный SEO-аудит: анализируем вашу карточку товара на наличие
                            и заполнение параметров, необходимых для
                            повышения в поиске, анализируем ваших конкурентов. Итог нашей работы –
                            практические рекомендации, которые помогут
                            поднять ваши товары в топ.
                        </p>
                    </div>
                </div>
                <!-- /.faq__item -->
            </div>
            <!-- /.faq__content -->
            <div class="faq__title">
                <h2>ЧАСТО <br> ЗАДАВАЕМЫЕ <br> ВОПРОСЫ</h2>
            </div>
            <!-- /.faq__title -->
        </div>
        <!-- /.faq__card -->
    </div>
    <!-- /.container -->
</section>
<!-- /.faq -->
