<section class="info-block">
    <div class="container">
        <div class="info-block__card">
            <div class="info-block__content">
                <h2 class="info-block__title">@@title</h2>
                <div class="info-block__text">
                    <div>
                        <p>Мы предлагаем своим клиентам <b>уникальное продающее описание товара</b> с
                            использованием ключевых запросов. Главная цель –
                            <b>гарантированный рост</b> продаж в краткосрочной и долгосрочной перспективе.
                        </p>
                    </div>
                    <div>
                        <p>Правильная оптимизация поможет <b>выделиться среди конкурентов</b> и найти Ваш
                            товар потенциальному покупателю.
                        </p>
                        <p>Этот инструмент дает огромное преимущество: товар может отобразиться не только
                            во внутренней выдаче конкретного маркетплейса, но и на первых страницах Яндекса
                            и Google</p>
                    </div>
                </div>
            </div>
            <!-- /.info-block__content -->
            <div class="info-block__image">
                <img src="@@img" alt="">
            </div>
            <!-- /.info-block__image -->
        </div>
        <!-- /.info-block__card -->
    </div>
    <!-- /.container -->
</section>
<!-- /.info-block -->
