<section class="prices">
    <div class="container">
        <h2 class="prices__title">ТАРИФЫ SEO</h2>
        <div class="prices__head">
            <a href="#start" class="prices__tab active">START</a>
            <a href="#buisness" class="prices__tab">BUISNESS</a>
            <a href="#premium" class="prices__tab">PREMIUM</a>
        </div>
        <div class="prices__wrapper">
            <div class="prices__item active" id="start">
                <div class="prices__marker"><img src="assets/img/text/seo.svg" alt=""></div>
                <h3 class="prices__name">START</h3>
                <ul class="prices__list">
                    <li>Заполнение поля бренда, комплектации, названия</li>
                    <li>Заполнение дополнительных полей</li>
                    <li>Фотография-заглушка</li>
                    <li class="no">Сбор семантического ядра для поисковых систем Яндекс, Гугл</li>
                    <li class="no">Рекомендованный ТЗ на дизайн</li>
                    <li class="no">Предложения на прописание "Рекомендаций" (при возможности)</li>
                </ul>
                <div class="prices__footer">
                    <div class="prices__price">300₽</div>
                    <div class="prices__count">за 1 шт.</div>
                    <button class="btn prices__btn">Заказать</button>
                </div>
                <div class="prices__icon">
                    <img src="assets/img/text/raketa.png" alt="">
                </div>
            </div>
            <!-- /.prices__item -->
            <div class="prices__item" id="buisness">
                <div class="prices__marker"><img src="assets/img/text/seo.svg" alt=""></div>
                <h3 class="prices__name">BUISNESS</h3>
                <ul class="prices__list">
                    <li>Заполнение поля "Наименование" по ключевым запросам</li>
                    <li>Заполнение поля "Описание" 800+ символов, подбор ЦА по предмету</li>
                    <li>Полное заполнение дополнительных полей</li>
                    <li>Сбор семантического ядра для поисковых систем Яндекс, Гугл</li>
                    <li class="no">Рекомендованный ТЗ на дизайн</li>
                    <li class="no">Предложения на прописание "Рекомендаций" (при возможности)</li>
                </ul>
                <div class="prices__footer">
                    <div class="prices__price">700₽</div>
                    <div class="prices__count">за 1 шт.</div>
                    <button class="btn prices__btn">Заказать</button>
                </div>
                <div class="prices__icon">
                    <img src="assets/img/text/raketa.png" alt="">
                </div>
            </div>
            <!-- /.prices__item -->
            <div class="prices__item" id="premium">
                <div class="prices__marker"><img src="assets/img/text/seo.svg" alt=""></div>
                <h3 class="prices__name">PREMIUM</h3>
                <ul class="prices__list">
                    <li>Заполнение поля "Наименование" по ключевым запросам</li>
                    <li>Заполнение поля "Описание", проведение SWOT-анализа, подбор ЦА, конкурентная
                        отслойка</li>
                    <li>Полное заполнение дополнительных полей</li>
                    <li>Сбор семантического ядра для поисковых систем Яндекс, Гугл</li>
                    <li>Рекомендованный ТЗ на дизайн</li>
                    <li>Предложения на прописание "Рекомендаций" (при возможности)</li>
                </ul>
                <div class="prices__footer">
                    <div class="prices__price">1500₽</div>
                    <div class="prices__count">за 1 шт.</div>
                    <button class="btn prices__btn">Заказать</button>
                </div>
                <div class="prices__icon">
                    <img src="assets/img/text/raketa.png" alt="">
                </div>
            </div>
            <!-- /.prices__item -->
        </div>
        @@include('marketplace.html')
    </div>
</section>
