.porfolit-min {
	padding: 40px 0;
	&__title {
		font-family: $fontHeading;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 50px;
		line-height: 95%;
		color: #2f2d2f;
		position: relative;
		z-index: 1;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__card {
		max-width: 340px;
		height: 300px;
		width: 100%;
		padding: 30px 20px;
		background: gray url('../img/bg/tile-map-grow.jpg');
		border-radius: 15px;
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		transition: all 0.5s ease;
		&:hover {
			box-shadow: 0px 0px 150px rgba(62, 255, 236, 0.75), 0px 15px 20px #00c6b2;
		}
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(49, 49, 49, 0) 0%, rgba(49, 49, 49, 0.05) 100%);
		}
		&::after {
			content: '';
			display: block;
			width: 238px;
			height: 85px;
			position: absolute;
			left: -87px;
			top: 73px;
			transform: rotate(-90deg);
			background: url('../img/text/case.svg') center center / contain no-repeat;
		}
	}

	&__image {
		position: absolute;
		left: 20px;
		max-height: 340px;
		top: 40px;
		z-index: 1;
	}

	&__content {
		text-align: right;
		height: 100%;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		.btn {
			max-width: 170px;
			margin-top: auto;
		}
	}

	&__price {
		font-family: $fontHeading;
		font-weight: 400;
		font-size: 40px;
		line-height: 95%;
	}

	&__date {
		font-weight: 700;
		font-size: 20px;
		line-height: 95%;
	}

	&__name {
		margin-top: 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 95%;
	}
}

@media (max-width: ($md1+px)) {
	.porfolit-min {
		padding: 20px 0 80px;
		&__title {
			font-weight: 400;
			font-size: 35px;
			line-height: 95%;
		}

		&__wrapper {
			flex-direction: column;
		}

		&__card {
			max-width: 100%;
			height: auto;
			width: 100%;
			padding: 30px 10px;
			margin-bottom: 20px;
			&::after {
				width: 150px;
				height: 58px;
				left: -10px;
				top: -10px;
				transform: rotate(0deg);
			}
		}

		&__image {
			max-height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			img {
				max-height: 390px;
				transform: rotate(90deg) translateX(25%) translateY(-64px);
			}
		}

		&__content {
			a {
				display: none;
			}
		}

		&__price {
			font-weight: 400;
			font-size: 35px;
			line-height: 100%;
		}
	}
}
@media (max-width: 479px) {
	.porfolit-min {
		padding-bottom: 0;
		&__title {
			font-size: 25px;
		}

		&__card {
			padding: 20px 10px;
			margin-bottom: 15px;
			&::after {
				width: 150px;
				height: 58px;
				left: -10px;
				top: -10px;
				transform: rotate(0deg);
			}
		}

		&__image {
			img {
				max-height: 225px;
				transform: rotate(90deg) translateX(25%) translateY(21px);
			}
		}

		&__price {
			font-size: 25px;
		}
	}
}
