.prices {
	padding-bottom: 60px;
	&__title {
		font-family: $fontHeading;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 50px;
		line-height: 95%;
		color: #2f2d2f;
	}
	&__head {
		display: none;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 45px;
	}

	&__tab {
		font-family: $fontHeading;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		color: #000000;
		opacity: 0.5;
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			opacity: 1;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding-bottom: 100px;
	}

	&__item {
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: 15px;
		background: #242324 url('../img/bg/tile-map-dark.jpg');
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		padding: 40px 20px 30px 33px;
		margin-right: 60px;
		&:last-child {
			margin-right: 0;
		}
		&::after {
			content: '';
			display: block;
			width: 486px;
			height: 85px;
			position: absolute;
			left: -214px;
			bottom: 199px;
			opacity: 0.75;
			transform: rotate(-90deg);
			background: url('../img/text/blackbox_white.svg') center center / contain no-repeat;
		}
	}

	&__marker {
		position: absolute;
		top: -10px;
		left: -10px;
		width: 100%;
		img {
			max-width: 100%;
		}
	}

	&__name {
		font-family: $fontHeading;
		text-align: right;
		font-weight: 400;
		font-size: 50px;
		line-height: 95%;
		margin-bottom: 20px;
	}

	&__list {
		position: relative;
		z-index: 1;
		li {
			margin-bottom: 27px;
			padding-left: 70px;
			font-weight: 500;
			font-size: 16px;
			line-height: 95%;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 50px;
				height: 25px;
				background: #feed21;
				box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.25);
				border-radius: 15px;
			}
			&::after {
				content: '';
				position: absolute;
				top: -1px;
				left: 23px;
				display: block;
				width: 27px;
				height: 27px;
				background: radial-gradient(50% 50% at 50% 50%, #ffffff 43.75%, #bdbdbd 100%);
				box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15);
				border-radius: 100px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&.no {
				&::before {
					background: #9a9a94;
				}
				&::after {
					left: 0;
				}
			}
		}
	}

	&__footer {
		position: relative;
		z-index: 1;
		margin-top: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__price {
		margin-top: 50px;
		font-family: $fontHeading;
		font-size: 50px;
		line-height: 48px;
		margin-bottom: 10px;
	}

	&__count {
		font-weight: 500;
		font-size: 20px;
		line-height: 95%;
	}

	&__btn {
		margin-top: 25px;
	}

	&__icon {
		position: absolute;
		bottom: -10px;
		right: -10px;
		opacity: 0.75;
		img {
			width: 145px;
			height: 145px;
			object-fit: contain;
		}
	}
}

@media (max-width: ($md1+px)) {
	.prices {
		&__title {
			font-size: 35px;
			margin-bottom: 30px;
		}
		&__head {
			display: flex;
			justify-content: center;
		}
		&__wrapper {
			justify-content: center;
			padding-bottom: 60px;
		}

		&__item {
			max-width: 480px;
			min-height: 600px;
			display: none;
			margin-right: 0;
			&::after {
				height: 50px;
				width: 373px;
				left: -165px;
				bottom: 150px;
			}
			&.active {
				display: flex;
			}
		}

		&__marker {
			top: -5px;
			left: -5px;
			img {
				height: 50px;
			}
		}

		&__name {
			font-size: 60px;
		}

		&__icon {
			bottom: -5px;
			right: -5px;
			img {
				width: 125px;
				height: 125px;
			}
		}
	}
}
@media (max-width: ($md2+px)) {
	.prices {
		&__head {
			justify-content: flex-start;
		}
		&__tab {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
@media (max-width: 479px) {
	.prices {
		&__head {
			justify-content: flex-start;
		}
		&__tab {
			margin-right: 20px;
			font-size: 18px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__item {
			padding: 20px 10px;
		}
		&__name {
			font-size: 40px;
		}
		&__list {
			li {
				font-size: 14px;
				line-height: 1.2;
			}
		}
		&__price {
			margin-top: 30px;
			font-size: 40px;
		}
	}
}
